node_modules
.env
coverage
coverage-ts
coverage.json
.nyc_output
dist
testMatrix.json
mochaOutput.json

.cursorrules

#Hardhat files
cache
artifacts
build-info

.idea
.deps

slither_output.file
output.txt

packages/**/constants/contract-error-messages.ts
src/typechain/**

packages/**/deployments/chain-31337/**
packages/**/deployments/chain-31337

scripts/deployments-id/31337.json
